[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
urbanpy = "*"
geopandas = "*"
numpy = "*"
pandas = "*"
shapely = "*"
matplotlib = "*"
"plotly.express" = "*"
osmnx = "*"

[dev-packages]

[requires]
python_version = "3.10"
